<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.unibuc.votingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="ro.unibuc.votingapp.VotingApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.view.NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".presentation.view.RecyclerViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|colorMode" />
        <activity
            android:name="ro.unibuc.votingapp.presentation.view.CreditsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|colorMode"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.NoBackground" />
            <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="ocr" />

        <activity
            android:name="ro.unibuc.votingapp.presentation.view.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|colorMode"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ro.unibuc.votingapp.presentation.view.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|colorMode"
            android:launchMode="singleInstance" />
        <activity
            android:name="ro.unibuc.votingapp.presentation.view.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|colorMode"
            android:launchMode="singleInstance"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="ro.unibuc.votingapp.presentation.VotingAppReplacedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <service android:name="ro.unibuc.votingapp.presentation.VotingAppService" />

        <service android:name=".presentation.VotingAppService" />
        <!--pt salvarea imaginii in fisierul local, ca sa poata fi pastrata si analizata la aceeasi rezolutie cu care a fost facuta-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>
</manifest>
